@font-face {
   font-family: "Arial Black";
   src: url("fonts/Arial-Black.eot") format("embedded-opentype"), url("fonts/Arial-Black.ttf") format("truetype"), url("fonts/Arial-Black.woff") format("woff"), url("fonts/Arial-Black.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Vivaldi";
   src: url("fonts/Vivaldi-Cursiva.eot") format("embedded-opentype"), url("fonts/Vivaldi-Cursiva.ttf") format("truetype"), url("fonts/Vivaldi-Cursiva.woff") format("woff"), url("fonts/Vivaldi-Cursiva.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}